@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");

/* CSS 기본 설정 */
* { box-sizing: border-box; }
html, body{margin:0;padding:0;width:100%;height:100%;background:#424242; font-weight:500;}
body{font-family:'Pretendard Variable', 'Malgun Gothic','맑은 고딕','dotum','돋움';font-size:16px;-webkit-font-smoothing:antialiased;-webkit-font-smoothing:subpixel-antialiased;}
div, p, form, blockquote, hr {border:0;padding:0;margin:0;}
img, fieldset {border:0 none;margin:0;padding:0;vertical-align:middle;}
ol, ul, dl, li, dt, dd {margin:0;padding:0;list-style:none}
table {width:100%; border:0 none;}
caption {display:none;}
table td, table th {padding:0;border:0 none}
/* hr, legend {visibility:hidden;} */
h1,h2,h3,h4,h5{margin:0;padding:0}
a{text-decoration:none}
img{width:100%;height:auto;overflow:hidden;font-size:0;}
iframe{margin:0;padding:0;border:0;}
::-webkit-scrollbar{display:none;}

/* Wrap */
#wrap{margin: 0 auto; width:475px;height:842px; background:url('../img/bg_m.png') no-repeat 50%/auto;}
/* #wrap .inner{position:relative;margin:0 auto;width:375px;height:811px;} */

/* Container */
/* #container{width:100%;height:812px;overflow:auto;} */
#container{display:flex; width:100%; height:100%; align-items: center; justify-content: center;}

/* Contents */
#contents{width:375px}
#contents iframe {border-radius:40px;}

/* Footer */
#footer{position:absolute;bottom:0;width:375px}

/* common */
.dp-none { display:none; }

/* header */
#headerWrap { z-index:1000; }
#headerWrap h1 a { display:block; width:179px; height:53px; }
#headerWrap { position:fixed; top:0; right:0; left:0; width:100%; background:transparent;}
#headerWrap > .header { position: relative; display:flex; align-items: center; justify-content:space-between; padding:0 20px; height:70px; background:#FFFFFF; z-index: 100;}

#headerWrap .menu-wrap,
#headerWrap .menu-wrap > ul,
#headerWrap .menu-util,
#headerWrap .menu-util > ul { display:flex; align-items: center; }
#headerWrap .menu-wrap > ul { gap:70px; }
#headerWrap .menu-wrap > ul > li > a { font-size:20px; }
#headerWrap .menu-wrap { gap:194px; }
#headerWrap .menu-wrap > .menu-util > ul > li > a { font-size:18px; }

/* header bg-white */
#headerWrap > .header.bg-w { background: #FFFFFF; }
#headerWrap > .header.bg-w > .menu-wrap > ul > li > a { color:#242424; }
#headerWrap > .header.bg-w > .menu-wrap > .menu-util > ul > li > a { color:#1447A2; border:1px solid #1447A2; }

/* header button */
button { border:0; font-size:0; cursor: pointer; }
#headerWrap .menu-wrap > .menu-util > .search-wrap { display:flex; gap:10px; }
#headerWrap .menu-wrap > .menu-util > ul { gap:20px; }
#headerWrap .menu-wrap > .menu-util > ul > li > a { padding:9px 14px; border-radius: 8px; font-weight: 600; }
#headerWrap .menu-wrap > .menu-util > .menu-actions { display:flex; gap:18px; }
#headerWrap .menu-wrap > .menu-util .btn-search { width:30px; height:30px; background: url(../img/ico_search_white.png) no-repeat 100%/30px auto; }
#headerWrap .menu-wrap > .menu-util .btn-menu { width:30px; height:30px; background: url(../img/ico_allmenu_white.png) no-repeat 100%/30px auto; }

#headerWrap > .header.bg-w > .menu-wrap > .menu-util .btn-search { background: url(../img/ico_search.png) no-repeat 100%/30px auto; }
#headerWrap > .header.bg-w > .menu-wrap > .menu-util .btn-menu { background: url(../img/ico_allmenu.png) no-repeat 100%/30px auto; }

/* header search */
#headerWrap > .header.on { box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3); }

/* 팝업 */
/*** 팝업 ***/
.layerpopup { z-index: 1000; display:none; background:#FFFFFF; -webkit-overflow-scrolling:touch; overflow-y: auto;}
.layerpopup .btn-layer-close { position:absolute; top:15px; right:10px; width:40px; height:40px; background:url("../img/ic-close-header.png") no-repeat 50%/24px auto; text-indent:-9999px; }
/** 레이어 풀팝업 **/
.layerpopup.laypop-all { position:fixed;top:0;left:0; right:0;bottom:0;width:100%; height:100%; border-top:none;}
.layerpopup.laypop-all .pop-header { position:fixed; top:0; left:0; right:0; height:70px; line-height:70px; padding:0 20px; background:#FFFFFF; text-align:center; }
.layerpopup.laypop-all .pop-header .pop-title { text-align: center; font-size:16px; font-weight:500; color:#242424; }
.layerpopup.laypop-all .pop-con-wrap { margin-top:60px; overflow: hidden; }