@charset "utf-8";

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html { font-size:18px; }
body{ width:100%; height:100%; line-height: 1; text-align:left; font-size:1rem; font-weight:400; font-family:'Spoqa Han Sans Neo', "Apple SD Gothic Neo", sans-serif; color:#000; line-height:1.27; -webkit-overflow-scrolling:touch; }
body,p,h1,h2,h3,h4,h5,h6,table,caption,form,fieldset,legend,span,div,th,td,address{margin:0; padding:0; }
ul,ol,li,dl,dt,dd{list-style:none; margin:0; padding:0px}
img { width:100%; border:0 none; line-height:0; font-size:0; vertical-align:top; }
table{border-collapse:collapse; border-spacing:0; width:100%; table-layout:fixed;}
fieldset{border:0}
legend, caption{width:0; height:0; text-indent:-10000px; font-size:0px; line-height:0; left:-99999px; }
textarea{ width:100%; overflow-y:auto; border:1px solid #bbbbbb; padding:25px 20px !important; line-height:18px; resize:none; }
input, textarea { vertical-align:middle; font-size:18px; color:#666666; font-family:'Spoqa Han Sans Neo', "Apple SD Gothic Neo", sans-serif;  padding:0; margin:0; }
input[type="checkbox"] { width:12px; height:12px; margin-right:7px;}
input[type="radio"] { width:25px; height:25px; border:none; }
input[type="file"]{ height:22px; color:#666666; border:1px solid #d4d4d4; line-height:22px; vertical-align:middle; background:#fff}
input.text{height:16px; padding:8px 10px; border:2px solid #dbdbdc; }
input.date{margin:0 3px 0 0; width:110px}
em { font-style:normal; }
iframe { border:none; }
strong { font-weight:bold; }
a { color:#626c74; text-decoration:none;}

.dp-none { display:none; }
.overflow-hidden { overflow: hidden; }
